[sssd]
services = nss, pam, sudo
config_file_version = 2
domains = default

[domain/default]
id_provider = ldap
auth_provider = ldap
ldap_uri = ldaps://{{ ldap_server }}:{{ ldap_ssl_port }}
ldap_search_base = {{ ldap_base_dn }}
ldap_id_use_start_tls = True
ldap_tls_reqcert = demand
cache_credentials = True
ldap_tls_cacert = /etc/openldap/certs/ca-bundle.crt
ldap_default_bind_dn = {{ ldap_bind_dn }}
ldap_default_authtok = {{ ldap_bind_password }}
enumerate = False
access_provider = simple
simple_allow_groups = admins, users

[nss]
homedir_substring = /home

[pam]
offline_credentials_expiration = 2
offline_failed_login_attempts = 3
offline_failed_login_delay = 5